.mikeheadshot {
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 30px;
  padding-right: 10px;
  margin-top: 20px;
  padding-top: 10px;
}

.aboutme {
  margin-top: 10px;
}

.carousel-inner {
  max-height: 800px;
  max-width: 600px;
}
.carousel-item {
  max-height: 800px;
  max-width: 600px;
}
.carousel-indicators {
  max-height: 200px;
  max-width: 100px;
}


